:host {
    ion-content {
      // --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
      --background: #ffe77b;
    }

    .toolbar-container{
      background-color:  #087729;
    }

  //   *{
  //     line-height: 24px;
  //   }
  //  .btn1{
  //    padding:10px;
  //    font-size: 200%;
  //  }

  //  .pqr{
  //   margin-top:15px;
  //   // padding:10px;
  // }

  // ion-item{
  //   background-color: white;
  //   color:black;
  // }

  // .btn2{
  //   padding:0px;
  //   font-size: 150%;
  //  margin-bottom: 10%;
  
  // }
  
  // .btn{
  //   float:right;
  //    padding-left:10px;
  //    font-size: 150%;
  //   margin-bottom: 10%;
   
  //   }

  //  .item-input.sc-ion-label-md-h, .item-input .sc-ion-label-md-h {
  //  -ms-flex: initial;
  //  flex: initial;
  //  max-width: 400px;
  //  pointer-events: none;
  //  overflow: visible;
   
  //  }

   .abc{
     text-align: center
   }
  }