<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Instant Mix Types  </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content> 
    <div padding-top padding-horizontal>
      </div>
      <div class="abc">
      <ion-grid class="is-product-tiles">
    <ion-row>
        <ion-col col-6 no-padding>
       
            <img src="assets/img/gehu.png">
            <ion-card-content>
           
              <ion-button (click)="idli()">Idli</ion-button>
            </ion-card-content>
       
        </ion-col>
        <ion-col col-6 no-padding>
        
            <img src="assets/img/gehu.png">
            <ion-card-content>
            
              <ion-button  (click)="visitor()">Visitors</ion-button>
            </ion-card-content>
       
        </ion-col>
    
      </ion-row>
    </ion-grid>
      </div>

      <div padding-top padding-horizontal>
        </div>
        <div class="abc">
        <ion-grid class="is-product-tiles">
      <ion-row>
          <ion-col col-6 no-padding>
         
              <img src="assets/img/gehu.png">
              <ion-card-content>
              
                <ion-button (click)="member()">Members</ion-button>
              </ion-card-content>
         
          </ion-col>
          <ion-col col-6 no-padding>
          
              <img src="assets/img/gehu.png">
              <ion-card-content>
            
                <ion-button  (click)="visitor()">Visitors</ion-button>
              </ion-card-content>
         
          </ion-col>
      
        </ion-row>
      </ion-grid>
        </div>

        <div padding-top padding-horizontal>
          </div>
          <div class="abc">
          <ion-grid class="is-product-tiles">
        <ion-row>
            <ion-col col-6 no-padding>
           
                <img src="assets/img/gehu.png">
                <ion-card-content>
              
                  <ion-button (click)="member()">Members</ion-button>
                </ion-card-content>
           
            </ion-col>
            <ion-col col-6 no-padding>
            
                <img src="assets/img/gehu.png">
                <ion-card-content>
            
                  <ion-button  (click)="visitor()">Visitors</ion-button>
                </ion-card-content>
           
            </ion-col>
        
          </ion-row>
        </ion-grid>
          </div>

      </ion-content>
