:host {
  ion-content {
      --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }

  ion-list {
      &.list-md {
          padding: 0;
      }
  }

  .btn{
      padding:10px;
      font-size: 200%;
    }

    .btn1{
      padding:10px;
      font-size: 200%;
    }
  
    // .btn2{
    //   padding:0px;
    //   font-size: 150%;
    //  margin-bottom: 15%;
   
    // }
  
    // .btn{
    //  float:right;
    //   padding-left:10px;
    //   font-size: 150%;
    //  margin-bottom: 15%;
    
    //  }
    
  
    .btn2{
      padding:0px;
      font-size: 150%;
     margin-bottom: 10%;
    
    }
    
    .btn{
      float:right;
       padding-left:10px;
       font-size: 150%;
      margin-bottom: 10%;
     
      }

  .abc{
    margin-top:15px;
    // padding:10px;
  }
  ion-item{
    background-color: white;
    color:black;
  }

  *{
    // font-size: 14px;
    line-height: 24px;
  }

  .item.sc-ion-label-md-h, .item .sc-ion-label-md-h{    white-space: unset;}
  
//   .sc-ion-label-md-s h2 {
//     margin-left: 0;
//     margin-right: 0;
//     margin-top: 2px;
//     /* margin-bottom: 2px; */
//     font-size: 16px;
//     font-weight: 400;
// }
}
// h2{
//  font-size: 14px;

// }