<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Recurring Services List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding class="animated fadeIn">
  
  

      <form [formGroup]="onRegisterForm" class="list-form">
       <ion-grid class="is-product-tiles">
         <ion-row>

            <ion-col size="12" no-padding>
                <ion-item no-padding class="animated fadeInUp">
                  <ion-label  position="floating">
                    <ion-icon name="person" item-start></ion-icon>
                 Service Provider Name:
                  </ion-label>
                  <ion-input color="black" type="text" formControlName="provider_name"></ion-input>
                </ion-item>
                <p ion-text class="text08"
                  *ngIf="onRegisterForm.get('provider_name').touched && onRegisterForm.get('provider_name').hasError('required')">
                  <ion-text color="danger">
                    field is required
                  </ion-text>
                </p>
              </ion-col>

              <ion-col size="12" no-padding>
                  <ion-item no-padding class="animated fadeInUp">
                    <ion-label  position="floating">
                      <ion-icon name="md-list" item-start></ion-icon>
                   Service Name:
                    </ion-label>
                    <ion-input color="black" type="text" formControlName="service_name"></ion-input>
                  </ion-item>
                  <p ion-text class="text08"
                    *ngIf="onRegisterForm.get('service_name').touched && onRegisterForm.get('service_name').hasError('required')">
                    <ion-text color="danger">
                      field is required
                    </ion-text>
                  </p>
                </ion-col>

            <ion-col size="12" no-padding>
                <ion-item no-padding class="animated fadeInUp">
                  <ion-label  position="floating">
                    <ion-icon name="md-list" item-start></ion-icon>
                 Service Type:
                  </ion-label>
                  <ion-input color="black" type="text" formControlName="service_type"></ion-input>
                </ion-item>
                <p ion-text class="text08"
                  *ngIf="onRegisterForm.get('service_type').touched && onRegisterForm.get('service_type').hasError('required')">
                  <ion-text color="danger">
                    field is required
                  </ion-text>
                </p>
              </ion-col>

    

           <ion-col size="12" no-padding>
              <ion-item no-padding class="animated fadeInUp">
                <ion-label  position="floating">
                  <ion-icon name="md-list" item-start></ion-icon>
               Service Frequency:
                </ion-label>
                <ion-input color="black" type="text" formControlName="service_frequency"></ion-input>
              </ion-item>
              <p ion-text class="text08"
                *ngIf="onRegisterForm.get('service_frequency').touched && onRegisterForm.get('service_frequency').hasError('required')">
                <ion-text color="danger">
                  field is required
                </ion-text>
              </p>
            </ion-col>

            <ion-col size="12" no-padding>
              <ion-item no-padding class="animated fadeInUp">
                  <ion-label position="floating">
                    <ion-icon name="call" item-start></ion-icon>
                    Mobile Number
                  </ion-label>
                  <ion-input color="black" type="number" formControlName="mobile" maxlength="10"></ion-input>
                </ion-item>
                <span ion-text class="text08"
                  *ngIf="onRegisterForm.get('mobile').errors && (onRegisterForm.get('mobile').touched || onRegisterForm.get('mobile').dirty)">
                  <span *ngIf="onRegisterForm.get('mobile').errors.required">
                    <ion-text style="color: red">contact number is required</ion-text>
                  </span>
                  <div *ngIf="onRegisterForm.get('mobile').hasError('pattern')">
                    <ion-text style="color: red"> It is not a valid mobile number</ion-text>
                  </div>
                </span>
              </ion-col>

                <ion-col size="12" no-padding>
                    <ion-item no-padding class="animated fadeInUp">
                      <ion-label  position="floating">
                        <ion-icon name="home" item-start></ion-icon>
                    Address:
                      </ion-label>
                      <ion-input color="black" type="text" formControlName="address"></ion-input>
                    </ion-item>
                    <p ion-text class="text08"
                      *ngIf="onRegisterForm.get('address').touched && onRegisterForm.get('address').hasError('required')">
                      <ion-text color="danger">
                        field is required
                      </ion-text>
                    </p>
                  </ion-col>

                  <ion-col size="12" no-padding>
                      <ion-item no-padding class="animated fadeInUp">
                        <ion-label  position="floating">
                          <!-- <ion-icon name="ma-alarm" item-start></ion-icon> -->
                          <ion-icon name="md-alarm" item-start></ion-icon>
                      Time:
                        </ion-label>
                        <ion-input color="black" type="text" formControlName="service_time"></ion-input>
                      </ion-item>
                      <p ion-text class="text08"
                        *ngIf="onRegisterForm.get('service_time').touched && onRegisterForm.get('service_time').hasError('required')">
                        <ion-text color="danger">
                          field is required
                        </ion-text>
                      </p>
                    </ion-col>
     
           
         </ion-row>
       </ion-grid>
      </form>

      <div margin-top style="text-align:center">
          <ion-button icon-left size="medium" expand="half" shape="round" (click)="edit()"  tappable>
         Update
          </ion-button>
        </div> 
</ion-content>

   