<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="profile">
 
    <ion-card-content class="bg-profile">
      <img src="assets/img/avatar.jpeg"><br>
      
     
      <ion-button icon-left color="secondary" (click)=" takephoto()">
        <ion-icon name="photos"></ion-icon> 
        {{ 'Select Photo' | translate }}
      </ion-button>
      <ion-button icon-left color="secondary" (click)=" edit()">
        <ion-icon name="photos"></ion-icon> 
        {{ 'edit' | translate }}
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          
          
            <ion-item>
              <ion-label >First Name:{{owner_profile?.first_name}}</ion-label>
              <ion-input inputmode="text" ></ion-input>
            </ion-item>
     
            <ion-item>
              <ion-label >Last Name:{{owner_profile?.last_name}}</ion-label>
              <ion-input inputmode="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label >Gender:{{owner_profile?.gender}}</ion-label>
              <ion-input inputmode="text"></ion-input>
            </ion-item>
           

            <ion-item>
              <ion-label >Email:{{owner_profile?.email}}</ion-label>
              <ion-input inputmode="email" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label >Mobile No.:{{owner_profile?.mobile}}</ion-label>
              <ion-input inputmode="number" ></ion-input>
            </ion-item>

            <ion-item>
                
              <ion-label >Date of Birth:{{owner_profile?.dob}}</ion-label>
              <ion-input display-format="DD-MM-YYYY" ></ion-input>
            </ion-item>
          
    
            <ion-item>     
              <ion-label >PAN No.:{{owner_profile?.pan_no}}</ion-label>
              <ion-input inputmode="number" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label >Adhar No.:{{owner_profile?.adhar_no}}</ion-label>
              <ion-input inputmode="number"></ion-input>
            </ion-item>

           

            
     
  
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <!-- <ion-button no-margin size="large" expand="full" color="dark" (click)="sendData()">{{ 'update' | translate }}</ion-button> -->
 
  
  
<!-- </ion-content> -->


