<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div class="bg-profile" text-center padding>
    <img src="assets/img/flour.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <!-- <h1 margin-bottom>
        <ion-text color="primary"><strong>ionBooking 2 Application</strong></ion-text>
      </h1> -->
      
      <p margin-bottom>
        Atta or chakki atta is a wholemeal wheat flour, originating from the Indian subcontinent, used to make flatbreads such as chapati, roti, naan, paratha and puri. It is the most widespread flour in the Indian subcontinent.
      </p>
      
      <p>
        Multigrain is a mix of two or more grains, its nutritional value is more than that of single grain flour like wheat. Most of the time, multigrain atta includes jowar, bajra, and ragi. Each of these grains has its own nutritional value.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
