<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Traditional Flours List</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div padding-top padding-horizontal>
      </div>
      <div class="abc">
      <ion-grid class="is-product-tiles">
        <ion-row>
          <ion-col col-6 no-padding>
              <ion-card>
              <img src="assets/img/gehu.png">
              </ion-card>
              <ion-button (click)="jwari()">Jwari</ion-button>
          </ion-col>

          <ion-col col-6 no-padding>
              <ion-card>
              <img src="assets/img/gehu.png">
              </ion-card>
              <ion-button (click)="bajari()">Bajari</ion-button>
          </ion-col>
      
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
