<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Edit Family List</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content>
    <form [formGroup]="onRegisterForm" class="list-form">
        <ion-grid class="is-product-tiles">
            <ion-row>
                <ion-col col-6 no-padding>
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="person" item-start></ion-icon>
                            Total Family Members
                        </ion-label>
                        <ion-input
                            color="secondary"
                            type="number"
                            formControlName="family_members"
                        ></ion-input>
                    </ion-item>
                    <p
                        ion-text
                        class="text08"
                        *ngIf="
                            onRegisterForm.get('family_members').touched &&
                            onRegisterForm
                                .get('family_members')
                                .hasError('required')
                        "
                    >
                        <ion-text color="danger">
                            field is required
                        </ion-text>
                    </p>
                </ion-col>

                <ion-col col-6 no-padding>
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="person" item-start></ion-icon>
                            Total Ladies
                        </ion-label>
                        <ion-input
                            color="secondary"
                            type="number"
                            formControlName="total_ladies"
                        ></ion-input>
                    </ion-item>
                    <p
                        ion-text
                        class="text08"
                        *ngIf="
                            onRegisterForm.get('total_ladies').touched &&
                            onRegisterForm
                                .get('total_ladies')
                                .hasError('required')
                        "
                    >
                        <ion-text color="danger">
                            field is required
                        </ion-text>
                    </p>
                </ion-col>

                <ion-col col-6 no-padding>
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="person" item-start></ion-icon>
                            Total Gents
                        </ion-label>
                        <ion-input
                            color="secondary"
                            type="number"
                            formControlName="total_gents"
                        ></ion-input>
                    </ion-item>
                    <p
                        ion-text
                        class="text08"
                        *ngIf="
                            onRegisterForm.get('total_gents').touched &&
                            onRegisterForm
                                .get('total_gents')
                                .hasError('required')
                        "
                    >
                        <ion-text color="danger">
                            field is required
                        </ion-text>
                    </p>
                </ion-col>

                <ion-col col-6 no-padding>
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="person" item-start></ion-icon>
                            Family Members Name
                        </ion-label>
                        <ion-input
                            color="secondary"
                            type="text"
                            formControlName="family_members_name"
                        ></ion-input>
                    </ion-item>
                    <p
                        ion-text
                        class="text08"
                        *ngIf="
                            onRegisterForm.get('family_members_name').touched &&
                            onRegisterForm
                                .get('family_members_name')
                                .hasError('required')
                        "
                    >
                        <ion-text color="danger">
                            field is required
                        </ion-text>
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <div margin-top>
        <ion-button
            icon-left
            size="medium"
            expand="full"
            shape="round"
            color="dark"
            (click)="signUp()"
            tappable
        >
            <ion-icon name="log-in"></ion-icon>
            Sign Up
        </ion-button>
    </div>
</ion-content> -->

<ion-content> 

    <form [formGroup]="onRegisterForm" class="list-form">
     <ion-grid class="is-product-tiles">
       <ion-row>
         <ion-col size="12" no-padding>
           <ion-item no-padding class="animated fadeInUp">
             <ion-label  position="floating">
               <ion-icon name="person" item-start></ion-icon>
             First Name
             </ion-label>
             <ion-input color="black" type="text" formControlName="first_name"></ion-input>
           </ion-item>
           <p ion-text class="text08"
             *ngIf="onRegisterForm.get('first_name').touched && onRegisterForm.get('first_name').hasError('required')">
             <ion-text color="danger">
               field is required
             </ion-text>
           </p>
         </ion-col>
   
         <ion-col size="12" no-padding>
           <ion-item no-padding class="animated fadeInUp">
             <ion-label position="floating">
               <ion-icon name="person" item-start></ion-icon>
              Last Name
             </ion-label>
             <ion-input color="black" type="text" formControlName="last_name"></ion-input>
           </ion-item>
           <p ion-text class="text08"
             *ngIf="onRegisterForm.get('last_name').touched && onRegisterForm.get('last_name').hasError('required')">
             <ion-text color="danger">
               field is required
             </ion-text>
           </p>
         </ion-col>
    
         <ion-col size="12" no-padding>
           <ion-item no-padding class="animated fadeInUp">
             <ion-label position="floating">
               <ion-icon name="calendar" item-start></ion-icon>
              DOB
             </ion-label>
             <!-- <ion-input color="black" type="text" formControlName="dob"></ion-input> -->
             <ion-datetime formControlName="dob" class="no-pl"  min="1950-12-31" [max]="today" color="primary" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"></ion-datetime>

           </ion-item>
           <p ion-text class="text08"
             *ngIf="onRegisterForm.get('dob').touched && onRegisterForm.get('dob').hasError('required')">
             <ion-text color="danger">
               field is required
             </ion-text>
           </p>
         </ion-col> 

   
   
         <ion-col size="12" no-padding>
           <ion-item no-padding class="animated fadeInUp">
             <ion-label position="floating">
               <ion-icon name="call" item-start></ion-icon>
              Contact
             </ion-label>
             <ion-input color="black" type="text" formControlName="mobile"></ion-input>
           </ion-item>
           <p ion-text class="text08"
             *ngIf="onRegisterForm.get('mobile').touched && onRegisterForm.get('mobile').hasError('required')">
             <ion-text color="danger">
               field is required
             </ion-text>
           </p>
         </ion-col>
         </ion-row>
     </ion-grid>
   </form>
   
   <div margin-top style="text-align: center;">
     <ion-button icon-left size="medium" expand="half" shape="round" color="dark" (click)="edit()" tappable>
       <!-- <ion-icon name="log-in"></ion-icon> -->
       Update
     </ion-button>
   
   
   </div> 
   </ion-content>
