:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }

  *{
    line-height: 24px;
  }
}

ion-item{
  background-color: white;
  color:black;
}

.pqr{
  margin-top:15px;
}