:host {
    ion-content {
      // --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light));
      --background: white;
    }

    h2 {
      margin-top: 21px;
      font-size: 17px;
  }

  .msg{
    text-align: center;
    margin-top: 50%;
  }
}