<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Deliveries</ion-title>
    <ion-buttons slot="end" class="btn1" (click)="add()">
        <ion-icon name="md-add-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <div class="pqr" *ngFor="let delivery of delivery_list">
      
      <ion-item  >
        <ion-buttons slot="end" class="btn" (click)="edit(delivery)">
          <ion-icon name="md-remove-circle"></ion-icon>  
        </ion-buttons>

        <ion-buttons slot="end"  class="btn2" (click)="delete(delivery)">
          <ion-icon name="md-trash"></ion-icon>  
        </ion-buttons>


        <ion-label >
          <h3> <strong>Delivery Details</strong>&nbsp;:&nbsp;{{delivery.delivery_details}}</h3>
          <!-- <h2> <ion-icon name="home" ></ion-icon>Block:{{delivery.block_id}}</h2>
          <h2> <ion-icon name="home" ></ion-icon>Flat No:{{delivery.flat_no}}</h2> -->
          <h3> <strong>Date</strong>&nbsp;:&nbsp;{{delivery.delivery_date}} </h3>
          <h3> <strong>Approximate Time</strong>&nbsp;:&nbsp;{{delivery.delivery_time}}</h3>
          
          </ion-label>
      
        </ion-item>
      </div>


    </ion-content>

