<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Add Complaint</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- 
<ion-content padding class="animated fadeIn">

    <ion-card class="bg-white" no-margin>
      <ion-card-header>
          <ion-card-subtitle>{{message.date | date: 'MM/dd/yyyy'}} ∙ by <strong>{{message.senderName}}</strong></ion-card-subtitle>
          <ion-card-title>
            <ion-text color="primary">
              {{message.title}}
            </ion-text>
          </ion-card-title>
      </ion-card-header>
        <ion-card-content>
					<p margin-top>
            <ion-text color="primary">
              {{message.message}}
            </ion-text>
          </p>
        </ion-card-content>
      </ion-card>

</ion-content> -->


<ion-content> 

    <form [formGroup]="onRegisterForm" class="list-form">
     <ion-grid class="is-product-tiles">
       <ion-row>
         <ion-col size="12" no-padding>
           <ion-item no-padding class="animated fadeInUp">
             <ion-label  position="floating">
                <ion-icon name="mail-open" ></ion-icon>
              Title:
             </ion-label>
             <ion-input color="black" type="text" formControlName="complaint_title"></ion-input>
           </ion-item>
           <p ion-text class="text08"
             *ngIf="onRegisterForm.get('complaint_title').touched && onRegisterForm.get('complaint_title').hasError('required')">
             <ion-text color="danger">
               field is required
             </ion-text>
           </p>
         </ion-col>
<!-- 
         <ion-col size="12" no-padding>
            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating">
                <ion-icon name="calendar" item-start></ion-icon>
               Date:
              </ion-label>
              <ion-input color="secondary" type="text" formControlName="date"></ion-input>
            </ion-item>
            <p ion-text class="text08"
              *ngIf="onRegisterForm.get('date').touched && onRegisterForm.get('date').hasError('required')">
              <ion-text color="danger">
                field is required
              </ion-text>
            </p>
          </ion-col> -->
   
         <ion-col size="12" no-padding>
           <ion-item no-padding class="animated fadeInUp">
             <ion-label position="floating">
              <ion-icon name="md-list" ></ion-icon>
            Description:
           
             </ion-label>
             <ion-textarea color="black" type="text" formControlName="description" cols="40" rows="7"></ion-textarea>
             <!-- <ion-input color="secondary" type="text" formControlName="description"></ion-input> -->
           </ion-item>
           <p ion-text class="text08"
             *ngIf="onRegisterForm.get('description').touched && onRegisterForm.get('description').hasError('required')">
             <ion-text color="danger">
               field is required
             </ion-text>
           </p>
         </ion-col>
   
       
   
         <ion-col size="12" no-padding>
          <ion-item no-padding class="animated fadeInUp">
            <ion-label  position="floating">
              <ion-icon name="md-stats" item-start></ion-icon>
           Priority:
            </ion-label>
            <ion-input color="black" type="text" formControlName="priority"></ion-input>
          </ion-item>
          <p ion-text class="text08"
            *ngIf="onRegisterForm.get('priority').touched && onRegisterForm.get('priority').hasError('required')">
            <ion-text color="danger">
              field is required
            </ion-text>
          </p>
        </ion-col>
   
         <!-- <ion-col size="12" no-padding>
             <ion-item no-padding class="animated fadeInUp">
               <ion-label position="floating">
                 <ion-icon name="md-stats" item-start></ion-icon>
              Priority:
               </ion-label>
               <ion-input color="secondary" type="number" formControlName="priority"></ion-input>
              </ion-item>
              <p ion-text class="text08"
                *ngIf="onRegisterForm.get('priority').touched && onRegisterForm.get('priority').hasError('required')">
                <ion-text color="danger">
                  field is required
                </ion-text>
              </p>
            </ion-col> -->
               <!-- <ion-row> -->
             
                 
                <!-- <ion-item>
                  <ion-label>Low</ion-label>
                  <ion-checkbox [(ngModel)]="low"></ion-checkbox>
                </ion-item>
            
                
                <ion-item>
                  <ion-label>Medium</ion-label>
                  <ion-checkbox [(ngModel)]="medium"></ion-checkbox>
                </ion-item>

                <ion-item>
                  <ion-label>High</ion-label>
                  <ion-checkbox [(ngModel)]="high"></ion-checkbox>
                </ion-item>
             -->
              
                <!-- <label class = "checkbox">
                    High
                   <input type = "checkbox" />
                </label>
           -->
            <!-- </ion-row> -->
             
               <!-- <ion-row>
                  <ion-label >
                     <ion-checkbox color="primary"></ion-checkbox>
                  Low
                    </ion-label>
                    <ion-label >
                        <ion-checkbox color="primary"></ion-checkbox>
                     Medium
                       </ion-label>
                       <ion-label >
                          <ion-checkbox color="primary"></ion-checkbox>
                       High
                         </ion-label></ion-row> -->
               <!-- <ion-checkbox color="primary">Low</ion-checkbox>
               <ion-checkbox color="primary">Medium</ion-checkbox>
               <ion-checkbox color="primary">High</ion-checkbox></ion-row> -->
           
         </ion-row>
     </ion-grid>
   </form>
   
   <div margin-top style="text-align:center">
     <ion-button icon-left size="medium" expand="half" shape="round" (click)=" add()"  tappable>
       Add
     </ion-button>
   </div> 
   </ion-content>
